* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
        }

 body{
     font-family: 'Kumbh Sans', sans-serif;
     font-size: 12px;
     background-image: linear-gradient(-180deg,  hsl(273, 75%, 66%),hsl(240, 73%, 65%)); 
     height: 110vw;
     background-position: center;
     position: relative;
     background-repeat: no-repeat;
     background-size: 100% 124%;
 }
 .wrapper {
    width: 327px;
    margin: 40px auto;
  }
  .container {
    position: relative;
    background: white;
    margin-top: 148px;
    border-radius: 20px;
  }
  img {
    display: block;
    margin: auto;
    width: 100%;
  }
  header {
    width: 237px;
    margin: auto;
    top: -126px;
    position: relative;
    z-index: 5;
  }
  .headerFirst {
    height: 100px;
    width: 100%;
    position: relative;
    top: 26px;
  }
  .headerFirst::after{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 93px;
    left: 20px;
    background-image: url("../images/bg-pattern-mobile.svg");
    background-color: transparent;
    background-repeat: no-repeat;
}
main {
    width: 327px;
    margin: auto;
    position: relative;
    z-index: 2;
    top: -100px;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  .primary {
    width: 279px;
    margin: auto;
  }
  
  h1 {
    padding-top: 140px;
    text-align: center;
    font-size: 2.6rem;
  }
  .faq {
    margin-top: 20px;
    }
    summary {
        margin: auto;
      }
      summary::-webkit-details-marker {
        display: none;
      }
      details[open] summary:after {
        content: url("../images/icon-arrow-down.svg");
        display: inline-block;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        /* filter: invert(200%) sepia(200%) saturate(200%) hue-rotate(288deg) brightness(102%) contrast(102%); */
      }
      details {
        margin-bottom: 20px;
        padding: 10px;
      }
      
      p {
        line-height: 18px;
        font-weight: 400;
        margin: 10px auto;
      }
      
      summary:hover {
        font-weight: 700;
        color: #f47c57;
        margin: auto;
        cursor: pointer;
       
      }
      

  
  