* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

 body{
     font-family: 'Kumbh Sans', sans-serif;
     font-size: 12px;
     background: -webkit-gradient(linear, left top, left bottom, from(#B068E9), to(#6463E7));
     background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
     height: 110vw;
     background-position: center;
     position: relative;
     background-repeat: no-repeat;
     background-size: 100% 124%;
 }
 .wrapper {
    width: 327px;
    margin: 40px auto;
  }
  .container {
    position: relative;
    background: white;
    margin-top: 148px;
    border-radius: 20px;
  }
  img {
    display: block;
    margin: auto;
    width: 100%;
  }
  header {
    width: 237px;
    margin: auto;
    top: -126px;
    position: relative;
    z-index: 5;
  }
  .headerFirst {
    height: 100px;
    width: 100%;
    position: relative;
    top: 26px;
  }
  .headerFirst::after{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 93px;
    left: 20px;
    background-image: url("../images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
}
main {
    width: 327px;
    margin: auto;
    position: relative;
    z-index: 2;
    top: -100px;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  .primary {
    width: 279px;
    margin: auto;
  }
  
  h1 {
    padding-top: 140px;
    text-align: center;
    font-size: 2.6rem;
  }
  .faq {
    margin-top: 20px;
    }
    summary {
        margin: auto;
      }
      summary::-webkit-details-marker {
        display: none;
      }
      

  
  